@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #111827;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

input{
    border-radius: 10px;
    width: 250px;
    height:20px;
    border: black solid 2px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.card{
    padding: 20px;
    border-radius: 20px;
    border: white solid 5px;
    width:800px;
}

.bio{
    margin-left: 10px;
    font-size: 1.2rem;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2rem;
}
.avatar{
    border: 5px solid rgb(255, 132, 94);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#repos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repo{
    padding: 6px;
    margin: 5px;
    border-radius: 10px;
    background-color: #3abc3a;
    color: white;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.user h3 {
    font-style: italic;
}