@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
 box-sizing: border-box;
 background-color: #111827;
 color: white;
 font-family: 'Montserrat', sans-serif;
}
.h1{
 /* height: 60vh; */
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translateY(220px);
 font-size: x-large;
}
.h3{
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translateY(190px);
 font-size: x-large;
}
.button{
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translateY(200px);
 font-size: x-large;
}
button{
 background-color: #3abc3a;
 min-width: 190px;
 min-height: 40px;
 border-radius: 10px;
}